In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
df = pd.read_csv("kc_house_data.csv")

In [ ]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Warning: Total number of columns (21) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
x = df[['bedrooms','bathrooms','sqft_living','floors']]
y = df[['price']]

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
scaler = MinMaxScaler()

In [ ]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
model = Sequential()

In [ ]:
model.add(Dense(10,activation='relu',input_dim=4))
model.add(Dense(10,activation='relu'))
model.add(Dense(1,activation='linear'))

In [ ]:
model.compile(loss="mean_squared_error",optimizer='Adam')

In [ ]:
history = model.fit(X_train_scaled,y_train,epochs=50,validation_split=0.1)

Epoch 1/50
487/487 [==============================] - 2s 3ms/step - loss: 432345186304.0000 - val_loss: 421189156864.0000
Epoch 2/50
487/487 [==============================] - 1s 2ms/step - loss: 432180494336.0000 - val_loss: 420863115264.0000
Epoch 3/50
487/487 [==============================] - 1s 2ms/step - loss: 431615377408.0000 - val_loss: 420037754880.0000
Epoch 4/50
487/487 [==============================] - 1s 3ms/step - loss: 430489403392.0000 - val_loss: 418601992192.0000
Epoch 5/50
487/487 [==============================] - 1s 2ms/step - loss: 428714033152.0000 - val_loss: 416489832448.0000
Epoch 6/50
487/487 [==============================] - 1s 2ms/step - loss: 426241327104.0000 - val_loss: 413663002624.0000
Epoch 7/50
487/487 [==============================] - 1s 2ms/step - loss: 423024066560.0000 - val_loss: 410079494144.0000
Epoch 8/50
487/487 [==============================] - 1s 2ms/step - loss: 419038363648.0000 - val_loss: 405662760960.0000
Epoch 9/50
487/487 [==============================] - 1s 2ms/step - loss: 414077911040.0000 - val_loss: 400224387072.0000
Epoch 10/50
487/487 [==============================] - 1s 2ms/step - loss: 408161353728.0000 - val_loss: 393872998400.0000
Epoch 11/50
487/487 [==============================] - 1s 2ms/step - loss: 401344036864.0000 - val_loss: 386633367552.0000
Epoch 12/50
487/487 [==============================] - 1s 2ms/step - loss: 393630777344.0000 - val_loss: 378511228928.0000
Epoch 13/50
487/487 [==============================] - 1s 2ms/step - loss: 385032486912.0000 - val_loss: 369514217472.0000
Epoch 14/50
487/487 [==============================] - 1s 2ms/step - loss: 375558668288.0000 - val_loss: 359648624640.0000
Epoch 15/50
487/487 [==============================] - 1s 2ms/step - loss: 365260800000.0000 - val_loss: 348976021504.0000
Epoch 16/50
487/487 [==============================] - 1s 3ms/step - loss: 354144714752.0000 - val_loss: 337511514112.0000
Epoch 17/50
487/487 [==============================] - 1s 3ms/step - loss: 342245212160.0000 - val_loss: 325300092928.0000
Epoch 18/50
487/487 [==============================] - 1s 2ms/step - loss: 329625108480.0000 - val_loss: 312360566784.0000
Epoch 19/50
487/487 [==============================] - 1s 2ms/step - loss: 316360949760.0000 - val_loss: 298878140416.0000
Epoch 20/50
487/487 [==============================] - 1s 2ms/step - loss: 302552219648.0000 - val_loss: 284874768384.0000
Epoch 21/50
487/487 [==============================] - 1s 2ms/step - loss: 288318619648.0000 - val_loss: 270514372608.0000
Epoch 22/50
487/487 [==============================] - 1s 2ms/step - loss: 273780736000.0000 - val_loss: 255893045248.0000
Epoch 23/50
487/487 [==============================] - 1s 2ms/step - loss: 259048931328.0000 - val_loss: 241170661376.0000
Epoch 24/50
487/487 [==============================] - 1s 2ms/step - loss: 244245397504.0000 - val_loss: 226446721024.0000
Epoch 25/50
487/487 [==============================] - 1s 2ms/step - loss: 229564121088.0000 - val_loss: 211919355904.0000
Epoch 26/50
487/487 [==============================] - 1s 2ms/step - loss: 215115448320.0000 - val_loss: 197664194560.0000
Epoch 27/50
487/487 [==============================] - 1s 2ms/step - loss: 201042935808.0000 - val_loss: 183879696384.0000
Epoch 28/50
487/487 [==============================] - 1s 3ms/step - loss: 187528331264.0000 - val_loss: 170747215872.0000
Epoch 29/50
487/487 [==============================] - 2s 3ms/step - loss: 174788788224.0000 - val_loss: 158466457600.0000
Epoch 30/50
487/487 [==============================] - 1s 2ms/step - loss: 162972221440.0000 - val_loss: 147182911488.0000
Epoch 31/50
487/487 [==============================] - 1s 2ms/step - loss: 152218353664.0000 - val_loss: 137005670400.0000
Epoch 32/50
487/487 [==============================] - 1s 2ms/step - loss: 142667661312.0000 - val_loss: 128112328704.0000
Epoch 33/50
487/487 [==============================] - 1s 2ms/step - loss: 134409338880.0000 - val_loss: 120543420416.0000
Epoch 34/50
487/487 [==============================] - 1s 2ms/step - loss: 127555305472.0000 - val_loss: 114376286208.0000
Epoch 35/50
487/487 [==============================] - 1s 2ms/step - loss: 122078806016.0000 - val_loss: 109586415616.0000
Epoch 36/50
487/487 [==============================] - 1s 2ms/step - loss: 117935325184.0000 - val_loss: 106040909824.0000
Epoch 37/50
487/487 [==============================] - 1s 2ms/step - loss: 114971705344.0000 - val_loss: 103602110464.0000
Epoch 38/50
487/487 [==============================] - 1s 2ms/step - loss: 113028743168.0000 - val_loss: 102063833088.0000
Epoch 39/50
487/487 [==============================] - 1s 2ms/step - loss: 111822970880.0000 - val_loss: 101126438912.0000
Epoch 40/50
487/487 [==============================] - 1s 3ms/step - loss: 111119499264.0000 - val_loss: 100590682112.0000
Epoch 41/50
487/487 [==============================] - 1s 3ms/step - loss: 110705049600.0000 - val_loss: 100265811968.0000
Epoch 42/50
487/487 [==============================] - 1s 2ms/step - loss: 110441652224.0000 - val_loss: 100046274560.0000
Epoch 43/50
487/487 [==============================] - 1s 2ms/step - loss: 110246273024.0000 - val_loss: 99878969344.0000
Epoch 44/50
487/487 [==============================] - 1s 2ms/step - loss: 110081204224.0000 - val_loss: 99714916352.0000
Epoch 45/50
487/487 [==============================] - 1s 2ms/step - loss: 109923287040.0000 - val_loss: 99568099328.0000
Epoch 46/50
487/487 [==============================] - 1s 2ms/step - loss: 109770129408.0000 - val_loss: 99418308608.0000
Epoch 47/50
487/487 [==============================] - 1s 2ms/step - loss: 109615513600.0000 - val_loss: 99268247552.0000
Epoch 48/50
487/487 [==============================] - 1s 2ms/step - loss: 109459169280.0000 - val_loss: 99121094656.0000
Epoch 49/50
487/487 [==============================] - 1s 2ms/step - loss: 109306060800.0000 - val_loss: 98973753344.0000
Epoch 50/50
487/487 [==============================] - 1s 2ms/step - loss: 109151576064.0000 - val_loss: 98826698752.0000

In [ ]:
y_pred = model.predict(X_test_scaled)

136/136 [==============================] - 0s 1ms/step

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test,y_pred)

0.21088567349060405